@use 'base/variables' as v;
@use 'base/mixins' as m;

.baner {
    text-align: center;
    padding: 2.5rem;
    margin-top: -15rem;
    background-image: url(../img/banner-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    span{
        color: v.$primario;
        font-size: 2rem;
    }
    h3 {
        color: v.$blanco;
        font-size: 3rem;
        margin: 1rem 0;
    }
    p{
        color: v.$gris;
        font-size: 1.5rem;
        max-width: 60rem;
        margin: 1rem auto;
        @include m.tablet {
            font-size: 1rem;
        }
    }
    a{
        @include m.boton(v.$primario, v.$blanco);
        @include m.tablet {
             width: 20%;
        }
        margin: 2rem auto;
    }
}